html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #dadbd5;
    overflow-y: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
.gray {
    background-color: #323739;
}
.light {
    background-color: #ebebeb;
}
@media (max-width: 1848px) {
    .hide {
        display: none;
    }
    .conx {
        width: 90px;
    }
    .hInfos {
        font-size: 12px;
    }
    .img {
    }
}
